<template>
  <div class="team">
    <h1 class="subheading grey--text">Home</h1>
    welcome boto
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'team',
  components: {
   
  },
}
</script>
